/* PARA SEPARAR O ICONE DO TEXTO NO DROPDOWN */
li > a > img{
  margin-right: 10px;
}
img#userPhoto{
  margin-right: 10px;
}
/* MELHORAR A VISUZALIZAÇÃO NO MENU MOBILE*/
#displayNameMobile{
  margin-top: -10px;
  padding-bottom: 60px;
}

/*PARA DEIXAR O RODAPÉ SEMPRE NA PARTE INFERIOR*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}
