/* PARA SEPARAR O ICONE DO TEXTO NO DROPDOWN */
li > a > img{
  margin-right: 10px;
}
img#userPhoto{
  margin-right: 10px;
}
/* MELHORAR A VISUZALIZAÇÃO NO MENU MOBILE*/
#displayNameMobile{
  margin-top: -10px;
  padding-bottom: 60px;
}

.brand-logo img{
  width: 100px;
  margin-top: 5px;
}

@media only screen and (max-width: 600px){
  .brand-logo img{
    width: 90px;
    margin-top: 5px;
  }
}

.dropdown-content li>a{
  color: #2196f3;
}

.row{
  margin-top: 30px;
}


span.card-title{
  text-align: center;
}

/*PARA DEIXAR O RODAPÉ SEMPRE NA PARTE INFERIOR*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background: black;
  opacity: .8;
}
.preloader-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
}

#status{
  display: none;
}

#title_results {
  font-size: 2em;
  margin-bottom: 0;
}